* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  max-width: 1770px;
  margin: auto;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: inherit;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}